.contact_wrapper svg {
  font-size: 1em;
  vertical-align: middle;
  margin-right: 5px;
}
.contact-form {
  .MuiInputBase-input {
    color: #0d1116 !important; 
  }

  .MuiInputLabel-root {
    color: #0d1116 !important; 
  }

  .MuiInputBase-root {
    background-color: white !important; 
  }

  .MuiOutlinedInput-notchedOutline {
    border-color: #0d1116 !important; 
  }
}

.dark-mode .contact-form {
  padding-top: 20px;

  button {
    float: right;
    background-color: white;
    color: #050f0b;
  }

  button:hover {
    background-color: #5000ca;
    color: white;
  }

  fieldset {
    background-color: white;
  }

  .MuiInputBase-input {
    color: white !important; 
  }

  .MuiInputLabel-root {
    color: white !important;
  }

  .MuiInputBase-root {
    background-color: #1e252b !important; 
  }

  .MuiOutlinedInput-notchedOutline {
    border-color: white !important; 
  }
}

label {
  font-size: 1.2rem;
  font-family: 'DomaineDispNar-Medium', sans-serif;
}

.form-flex {
  display: flex;
  gap: 15px;
  padding-bottom: 15px;
}

.form-flex .MuiFormControl-root {
  width: 100%;
}

form {
  width: 100% !important;
}

.body-form {
  width: 100% !important;
  margin-bottom: 15px !important;
}